.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.ele{
 
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 10px 10px 10px black;
}
.h{
    text-align: center;
}
body{
    background-color: gray;
}